:root {
    --base-color: #555; // #5eb141
    --base-highlight-color: #91e971;
    --highlight-color: #dfe6ea; // rgba(17, 17, 17, 0.7);
    --base-pressed-color: #dfe6ea; // #c3cfd6; // #5eb141; // 709e70;
    --accent-color: #55c32d;
    --accent-light-color: #cef1c1;
}

html, body {
    // font-family: $custom-font;
}


.x-material {
    &:before {
        font-family: 'Material Icons';
    }
}
.x-dashboard:before { content: 'dashboard' }
.x-settings:before { content: 'settings' }
.x-computer:before { content: 'computer' }
.x-show_chart:before { content: 'show_chart' }


.x-toolbar.nav {
    background: #fafafa; /* Old browsers */
    // background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    .x-button {
        // margin: 0 5px;
        min-height: 48px;
        min-width: 48px; // for bars menu
        .x-inner-el { border-radius: 0; }
    }
}
.x-button {
        // color: #999;
        // font-size: 12px;
        // border-radius: 0;
        // font: 600 14px/16px $custom-font, sans-serif;
        // .x-text-el { text-transform: uppercase; }
        // .x-icon-el::before { font-size: 14px; }
        .x-icon-el {
            width: 16px !important;
            height: 16px !important;
            &::before {
                font-size: 16px !important;
            }
        }
        // &.x-hovered { color: #FFF; .x-icon-el { color: #FFF; } }
    .x-text-el { text-transform: none; margin-top: 1px; }
    &.x-pressed, &.x-pressing {
        color: var(--base-color);
        .x-icon-el, .x-arrow-el { color: var(--base-color) }
        .x-inner-el { background-color: var(--base-pressed-color) }
    }
}

.x-splitButton {
    .x-splitInner-el {
        padding: 8px 16px;
    }
    .x-splitArrow-el {
        padding: 8px 3px;
    }
    .x-text-el {
        text-transform: none !important;
    }
}



.x-menuitem .x-body-el {
    // font: 600 14px/16px $custom-font, sans-serif;
}

.x-panelheader {
    border: 1px solid var(--base-color);
}


.x-button-condition {
    background: #EEE;
    // font-family: $custom-font;
    .x-inner-el {
        padding: 3px 5px !important;
    }
}

.x-layout-form {
    border-spacing: 16px;
}

.x-big .x-layout-form {
    border-spacing: 16px;
}

.x-big .x-textfield .x-body-wrap-el {
    width: auto;
}


.x-gridrow.x-selected .x-gridcell {
    font-weight: bold;
}


/////////////////////////////////////////////


.condition {
    display: inline;
}
i {
    font-style: normal;
}




.x-menucheckitem .x-body-el {
    height: 28px;
}

.x-menu .x-mask {
    background-color: #FFF;
}

// monitor icons
.icon-monitor {
    background-size: contain;
    opacity: 0.7;
    width: 16px !important;
    height: 16px !important;
    &.sessions {
        background: url('icons/monitor/sessions-monitor-icon.svg') no-repeat 50% 50%;
    }
    &.hosts {
        background: url('icons/monitor/hosts-monitor-icon.svg') no-repeat 50% 50%;
    }
    &.devices {
        background: url('icons/monitor/devices-monitor-icon.svg') no-repeat 50% 50%;
    }
    &.users {
        background: url('icons/monitor/users-monitor-icon.svg') no-repeat 50% 50%;
    }
}


.cond {
    padding: 0 !important;
    div {
        font-family: 'Roboto Condensed';
        display: inline-block;
        overflow: hidden;
        // background: #C9D8D5;
        // padding: 3px 5px;
        margin-right: 10px;
        // border-radius: 3px;
        span {
            display: inline-block;
            padding: 3px 10px;
            // line-height: 24px;
            // height: 24px;
        }

        .type {
            background-color: #E6E6E6;
            border-radius: 3px 0 0 3px;
            border: 1px #D4D4D4 solid;
            // box-shadow: 0 0 1px rgba(0, 0, 0, 0.9) inset;
        }

        .invert {
            // background-color: #BFBFBF;
            background-color: #FFF;
            // border: 1px #BFBFBF solid;
            font-weight: 600;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            position: relative;
            z-index: 1;
            color: #555;
        }

        .value {
            // background-color: #ad3;
            // background-color: #C7C7C7;
            background-color: #d4e6cd;
            font-weight: 600;
            border-radius: 0 3px 3px 0;
            border: 1px #d4d4d4 solid;
        }

        .bool-yes {
            // background-color: #ad3;
            background-color: #FFF;
            font-weight: 600;
            border-radius: 0 3px 3px 0;
            border: 1px #d4d4d4 solid;
        }
        .bool-no {
            // background-color: #fbe27f;
            background-color: #FFF;
            font-weight: 600;
            border-radius: 0 3px 3px 0;
            border: 1px #d4d4d4 solid;
        }

    }
}

.invalid-cell::after {
    content: '';
    // background: red;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 0;
    height: 2px;
    border-top: 2px #F95821 solid;
}

.x-treelist-item-icon.tree {
    width: 28px;
    height: 28px;
    margin: 8px 0 8px 0;
    background-size: contain;
    background-repeat: no-repeat;
    &.network { background-image: url('icons/config/network.svg'); }
    &.administration { background-image: url('icons/config/administration.svg'); }
    &.events { background-image: url('icons/config/events.svg'); }
    &.email { background-image: url('icons/config/email.svg'); }
    &.directory { background-image: url('icons/config/local-directory.svg'); }
    &.system { background-image: url('icons/config/system.svg'); }
    &.upgrade { background-image: url('icons/config/upgrade.svg'); }
    &.about { background-image: url('icons/config/about.svg'); }
}

.x-gridcell-body-el em {
    color: #999;
}

// .x-treelist-nav {
//     .x-treelist-row {
//         padding-left: 16px;
//         padding-right: 8px;
//     }
//     .x-treelist-item-text {
//         line-height: 28px;
//         margin-left: 30px;
//         font-size: 14px;
//         font-weight: 600;
//     }
//     .x-treelist-item-expander {
//         line-height: 28px;
//         &::after {
//             line-height: 28px !important;
//         }
//     }
//     .x-treelist-item-icon:before {
//         line-height: 28px !important;
//         font-size: 16px;
//     }
//     // .x-treelist-item-expanded > * > * > .x-treelist-item-expander::after {
//     //     line-height: 28px !important;
//     // }
// }

// .x-treelist-item-selected {
//     background: #EEE;
// }

// .x-gridcell-body-el {
//     padding: 6px;
// }
// .x-gridcell-tool-dock > .x-body-el {
//     padding: 6px 0;
// }

// .x-gridcell {
//     // vertical-align: top;
// }



.x-grid-events {
    .x-gridcell {
        font: 400 11px/11px Roboto, sans-serif;
    }
    .x-gridcell-body-el {
        padding: 8px 12px;
    }
    .x-gridcolumn-title-wrap-el {
        padding: 8px 12px;
        line-height: 1;
    }
}

.x-gridcolumn-title-wrap-el {
    font-weight: 600;
}

.x-rownumberercell {
    background: rgba(200, 200, 200, 0.3);
    border-right: 1px #CCC solid;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
}






.x-nav {
    .x-gridcell {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        color: #555;
    }
    .x-body-el {
        padding: 3px 0;
    }

    .x-treecell .x-icon-el {
        color: #777;
        width: 16px;
        height: 16px;
        padding: 1px 0;
        &:before {
            font-size: 14px;
        }
    }
    .x-icon-el {
        width: 16px;
        height: 16px;
        // margin: 4px 0 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        &.network { background-image: url('icons/config/icon_config_network.png'); }
        &.administration { background-image: url('icons/config/icon_config_administration.png'); }
        &.events { background-image: url('icons/config/icon_config_events.png'); }
        &.email { background-image: url('icons/config/icon_config_email.png'); }
        &.directory { background-image: url('icons/config/icon_config_directory.png'); }
        &.system { background-image: url('icons/config/icon_config_system.png'); }
        &.upgrade { background-image: url('icons/config/icon_config_upgrade.png'); }
        &.about { background-image: url('icons/config/icon_config_about.png'); }
    }
}
