:root {
  --base-color: #519839;
  --base-highlight-color: #91e971;
  --base-pressed-color: #dfe6ea;
  --accent-color: #55c32d;
  --accent-light-color: #cef1c1;
}

cite {
  font-style: normal;
}

cite.ok {
  border-bottom: 1px blue dashed;
}

cite.nok {
  color: red;
  border-bottom: 1px red dashed;
}

.x-fa.fa-red {
  color: red;
}

.x-fa.fa-green {
  color: green;
}

.x-fa.fa-blue {
  color: blue;
}

.x-toolbar.x-conditions .x-button {
  color: #333;
  font-weight: 400;
  font-size: 12px;
}

.x-toolbar.x-conditions .x-button .x-arrow-el {
  color: #333;
}

.x-toolbar.x-conditions .x-button-segmented .x-inner-el {
  background-color: #dfe6ea;
  font-size: 12px;
  font-weight: 600;
}

.x-toolbar.x-conditions .x-button-segmented .x-icon-el {
  color: #333;
}

.x-htmlmenu .x-menuitem .x-text-el {
  display: none;
}

.x-htmlmenu .x-menuitem .x-innerhtml {
  padding: 0 16px 0 0;
}

.x-htmlmenu.chain-menu .x-menuitem .x-body-el {
  height: auto;
}

.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml p {
  border-left: 6px transparent solid;
  margin: 0;
  padding: 8px;
  line-height: 1;
  font-size: 16px;
}

.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml em {
  font-size: 11px;
  color: #777;
  font-weight: normal;
  font-style: normal;
}

.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  padding: 1px 5px;
  border-radius: 3px;
  margin-left: 8px;
  vertical-align: middle;
}

.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span.base {
  background: #4ca52c;
}

.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span.default {
  background: #555555;
}

.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span.readonly {
  background: #bb283b;
}

.x-htmlmenu.chain-menu .x-menuitem.selected {
  background: #EEE;
}

.x-htmlmenu.chain-menu .x-menuitem.selected .x-innerhtml p {
  border-left: 6px var(--accent-color) solid;
}

.x-toolbar.nav {
  background: #fafafa;
  /* Old browsers */
}

.x-toolbar.nav .x-button {
  min-height: 48px;
  min-width: 48px;
}

.x-toolbar.nav .x-button .x-inner-el {
  border-radius: 0;
}

.x-button .x-icon-el {
  width: 16px !important;
  height: 16px !important;
}

.x-button .x-icon-el::before {
  font-size: 16px !important;
}

.x-button .x-text-el {
  text-transform: none;
  /* margin-top: 1px;*/
}

.x-button.x-pressed, .x-button.x-pressing {
  color: var(--base-color);
}

.x-button.x-pressed .x-icon-el, .x-button.x-pressed .x-arrow-el, .x-button.x-pressing .x-icon-el, .x-button.x-pressing .x-arrow-el {
  color: var(--base-color);
}

.x-button.x-pressed .x-inner-el, .x-button.x-pressing .x-inner-el {
  background-color: var(--base-pressed-color);
}

.x-splitButton .x-splitInner-el {
  padding: 8px 16px;
}

.x-splitButton .x-splitArrow-el {
  padding: 8px 3px;
}

.x-splitButton .x-text-el {
  text-transform: none !important;
}

.x-panelheader {
  border: 1px solid var(--base-color);
}

.x-button-condition {
  background: #EEE;
}

.x-button-condition .x-inner-el {
  padding: 3px 5px !important;
}

.x-layout-form {
  border-spacing: 16px;
}

.x-big .x-layout-form {
  border-spacing: 16px;
}

.x-big .x-textfield .x-body-wrap-el {
  width: auto;
}

.x-gridrow.x-removed .x-gridcell {
  color: #999;
}

.x-gridrow.x-removed .x-gridcell.x-widgetcell, .x-gridrow.x-removed .x-gridcell .x-togglefield {
  text-decoration: none;
}

.x-gridrow.x-removed .x-gridcell .x-button {
  opacity: 0.6;
}

.x-statuscolumn .x-body-el {
  padding: 0;
  border-right: 1px #EEE solid;
}

.x-gridcell.status-dirty {
  background: orange;
}

.x-gridcell.status-delete {
  background: red;
}

.x-gridcell.status-phantom {
  background: green;
}

.x-gridcell.x-disabled {
  color: #999;
}

.x-gridcell.x-disabled .condition span {
  background: #CCC;
}

.chain .x-innerhtml div {
  display: inline-block;
  margin: 0 10px;
}

.chain .x-innerhtml div span {
  font-size: 12px;
  font-weight: bold;
  color: #555;
}

.chain-base {
  font-size: 12px;
  line-height: 1.2;
  color: #FFF;
  background: #4ca52c;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 8px;
}

.chain-default {
  font-size: 12px;
  line-height: 1.2;
  color: #FFF;
  background: #555555;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 8px;
}

.chain-editable {
  font-size: 12px;
  line-height: 1.2;
  color: #FFF;
  background: #bb283b;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 8px;
}

.x-toast {
  bottom: 100px;
}

.condition {
  display: inline-block;
  padding: 0 0 0 16px;
  margin: 5px 0;
}

.condition span {
  font-weight: normal;
  background: #519839;
  padding: 2px 5px;
  border-radius: 3px;
  display: inline-block;
  color: #FFF;
}

i {
  font-style: normal;
}

.x-dialog-body-el {
  color: #555;
  font-size: 14px;
}

.x-menucheckitem .x-body-el {
  height: 28px;
}

.x-menu .x-mask {
  background-color: #FFF;
}

.icon-monitor {
  background-size: contain;
  opacity: 0.7;
  width: 16px !important;
  height: 16px !important;
}

.icon-monitor.sessions {
  background: url("../static/res/icons/monitor/sessions-monitor-icon.svg") no-repeat 50% 50%;
}

.icon-monitor.hosts {
  background: url("../static/res/icons/monitor/hosts-monitor-icon.svg") no-repeat 50% 50%;
}

.icon-monitor.devices {
  background: url("../static/res/icons/monitor/devices-monitor-icon.svg") no-repeat 50% 50%;
}

.icon-monitor.users {
  background: url("../static/res/icons/monitor/users-monitor-icon.svg") no-repeat 50% 50%;
}

.cond {
  padding: 0 !important;
}

.cond div {
  font-family: 'Roboto Condensed';
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

.cond div span {
  display: inline-block;
  padding: 3px 10px;
}

.cond div .type {
  background-color: #E6E6E6;
  border-radius: 3px 0 0 3px;
  border: 1px #D4D4D4 solid;
}

.cond div .invert {
  background-color: #FFF;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  color: #555;
}

.cond div .value {
  background-color: #d4e6cd;
  font-weight: 600;
  border-radius: 0 3px 3px 0;
  border: 1px #d4d4d4 solid;
}

.cond div .bool-yes {
  background-color: #FFF;
  font-weight: 600;
  border-radius: 0 3px 3px 0;
  border: 1px #d4d4d4 solid;
}

.cond div .bool-no {
  background-color: #FFF;
  font-weight: 600;
  border-radius: 0 3px 3px 0;
  border: 1px #d4d4d4 solid;
}

.invalid-cell::after {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 0;
  height: 2px;
  border-top: 2px #F95821 solid;
}

.x-treelist-nav .x-treelist-item-text {
  font-size: 14px;
}

.x-treelist-item-icon.tree {
  width: 28px;
  height: 28px;
  margin: 8px 0 8px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.x-treelist-item-icon.tree.network {
  background-image: url("../static/res/icons/config/network.svg");
}

.x-treelist-item-icon.tree.administration {
  background-image: url("../static/res/icons/config/administration.svg");
}

.x-treelist-item-icon.tree.events {
  background-image: url("../static/res/icons/config/events.svg");
}

.x-treelist-item-icon.tree.email {
  background-image: url("../static/res/icons/config/email.svg");
}

.x-treelist-item-icon.tree.directory {
  background-image: url("../static/res/icons/config/local-directory.svg");
}

.x-treelist-item-icon.tree.system {
  background-image: url("../static/res/icons/config/system.svg");
}

.x-treelist-item-icon.tree.upgrade {
  background-image: url("../static/res/icons/config/upgrade.svg");
}

.x-treelist-item-icon.tree.about {
  background-image: url("../static/res/icons/config/about.svg");
}

.x-treelist-item-icon.tree.hosts {
  background-image: url("../static/res/icons/config/hosts.svg");
}

.x-treelist-item-icon.tree.devices {
  background-image: url("../static/res/icons/config/devices.svg");
}

.x-gridcell-body-el em {
  color: #999;
}

.x-grid.c-noheaders .x-headercontainer {
  height: 1px;
  visibility: hidden;
}

.x-grid-events .x-gridcell {
  font: 400 11px/11px Roboto, sans-serif;
}

.x-grid-events .x-gridcell-body-el {
  padding: 8px 12px;
}

.x-grid-events .x-gridcolumn-title-wrap-el {
  padding: 8px 12px;
  line-height: 1;
}

.x-gridcolumn-title-wrap-el {
  font-weight: 600;
}

.x-rownumberercell {
  background: rgba(200, 200, 200, 0.3);
  border-right: 1px #CCC solid;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
}

.x-nav .x-gridcell {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #555;
}

.x-nav .x-body-el {
  padding: 3px 0;
}

.x-nav .x-treecell .x-icon-el {
  color: #777;
  width: 16px;
  height: 16px;
  padding: 1px 0;
}

.x-nav .x-treecell .x-icon-el:before {
  font-size: 14px;
}

.x-nav .x-icon-el {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.x-nav .x-icon-el.network {
  background-image: url("../static/res/icons/config/icon_config_network.png");
}

.x-nav .x-icon-el.administration {
  background-image: url("../static/res/icons/config/icon_config_administration.png");
}

.x-nav .x-icon-el.events {
  background-image: url("../static/res/icons/config/icon_config_events.png");
}

.x-nav .x-icon-el.email {
  background-image: url("../static/res/icons/config/icon_config_email.png");
}

.x-nav .x-icon-el.directory {
  background-image: url("../static/res/icons/config/icon_config_directory.png");
}

.x-nav .x-icon-el.system {
  background-image: url("../static/res/icons/config/icon_config_system.png");
}

.x-nav .x-icon-el.upgrade {
  background-image: url("../static/res/icons/config/icon_config_upgrade.png");
}

.x-nav .x-icon-el.about {
  background-image: url("../static/res/icons/config/icon_config_about.png");
}

.x-selectfield input {
  cursor: pointer;
}

.highcharts-container {
  font-family: 'Arial', sans-serif;
}

.highcharts-background {
  fill: transparent;
}
