:root { --base-color: #519839; --base-highlight-color: #91e971; --base-dark-color: #3e752b; --base-pressed-color: #dfe6ea; --base-light-color: #cef1c1; --accent-color: #55c32d; --accent-light-color: #cef1c1; }

.x-root { -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }

a { color: var(--base-color); }

cite { font-style: normal; }
cite.ok { border-bottom: 1px blue dashed; }
cite.nok { color: red; border-bottom: 1px red dashed; }

.x-fa.fa-white { color: #FFF; }
.x-fa.fa-red { color: red; }
.x-fa.fa-green { color: green; }
.x-fa.fa-blue { color: blue; }
.x-fa.fa-orange { color: orange; }
.x-fa.fa-gray { color: #999; }

.x-subbar { background: #555; }
.x-subbar .x-button { color: #FFF; font-weight: 400; font-size: 12px; }
.x-subbar .x-button .x-arrow-el { color: #FFF; }
.x-subbar .x-button .x-icon-el { color: #FFF; }
.x-subbar .x-button.x-pressed .x-inner-el { background: #222; color: #FFF; }
.x-subbar .x-button.x-pressed .x-arrow-el { color: #FFF; }
.x-subbar .x-button-segmented .x-inner-el { background-color: #222; font-size: 12px; font-weight: 400; }
.x-subbar .x-button-segmented .x-icon-el { color: #FFF; }

.x-htmlmenu .x-menuitem .x-text-el { display: none; }
.x-htmlmenu .x-menuitem .x-innerhtml { padding: 0 16px 0 0; }
.x-htmlmenu.chain-menu .x-menuitem .x-body-el { height: auto; }
.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml p { border-left: 6px transparent solid; margin: 0; padding: 8px; line-height: 1; font-size: 16px; }
.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml em { font-size: 11px; color: #777; font-weight: normal; font-style: normal; }
.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span { font-size: 10px; font-weight: bold; color: #FFF; padding: 1px 5px; border-radius: 3px; margin-left: 8px; vertical-align: middle; }
.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span.base { background: #4ca52c; }
.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span.default { background: #555555; }
.x-htmlmenu.chain-menu .x-menuitem .x-innerhtml span.readonly { background: #bb283b; }
.x-htmlmenu.chain-menu .x-menuitem.selected { background: #EEE; }
.x-htmlmenu.chain-menu .x-menuitem.selected .x-innerhtml p { border-left: 6px var(--accent-color) solid; }

.nav { background: #333; }
.nav .x-button { min-height: 48px; min-width: 48px; margin-bottom: 0 !important; }
.nav .x-button .x-inner-el { border-radius: 0; padding: 8px 24px; }
.nav .x-button .x-text-el { text-transform: none; color: #CCC; }
.nav .x-button.x-pressed .x-icon-el, .nav .x-button.x-pressed .x-arrow-el, .nav .x-button.x-pressed .x-text-el, .nav .x-button.x-pressing .x-icon-el, .nav .x-button.x-pressing .x-arrow-el, .nav .x-button.x-pressing .x-text-el { color: #FFF; }
.nav .x-button.x-pressed .x-inner-el, .nav .x-button.x-pressing .x-inner-el { background-color: #222; }

.x-button .x-icon-el { width: 16px !important; height: 16px !important; }
.x-button .x-icon-el::before { font-size: 16px !important; }
.x-button .x-text-el { text-transform: none; /* margin-top: 1px;*/ }
.x-button.x-pressed, .x-button.x-pressing { color: var(--base-color); }
.x-button.x-pressed .x-icon-el, .x-button.x-pressed .x-arrow-el, .x-button.x-pressing .x-icon-el, .x-button.x-pressing .x-arrow-el { color: var(--base-color); }
.x-button.x-pressed .x-inner-el, .x-button.x-pressing .x-inner-el { background-color: var(--base-pressed-color); }

.x-splitButton .x-splitInner-el { padding: 8px 16px; }
.x-splitButton .x-splitArrow-el { padding: 8px 3px; }
.x-splitButton .x-text-el { text-transform: none !important; }

.x-panelheader { border: 1px solid var(--base-color); }

.x-button-condition { background: #EEE; }
.x-button-condition .x-inner-el { padding: 3px 5px !important; }

.x-layout-form { border-spacing: 16px; }

.x-big .x-layout-form { border-spacing: 16px; }

.x-big .x-textfield .x-body-wrap-el { width: auto; }

.x-gridrow.x-removed .x-gridcell { color: #999; }
.x-gridrow.x-removed .x-gridcell.x-widgetcell, .x-gridrow.x-removed .x-gridcell .x-togglefield { text-decoration: none; }
.x-gridrow.x-removed .x-gridcell .x-button { opacity: 0.6; }

.x-statuscolumn .x-body-el { padding: 0; border-right: 1px #EEE solid; }

.x-gridcell { vertical-align: top; }
.x-gridcell.status-dirty { background: orange; }
.x-gridcell.status-delete { background: red; }
.x-gridcell.status-phantom { background: green; }
.x-gridcell.x-disabled { color: #777; }
.x-gridcell.x-disabled .condition span { background: #CCC; }

.chain .x-innerhtml div { display: inline-block; margin: 0 10px; }
.chain .x-innerhtml div span { font-size: 12px; font-weight: bold; color: #555; }

.chain-base { font-size: 12px; line-height: 1.2; color: #FFF; background: #4ca52c; padding: 3px 5px; border-radius: 3px; margin: 0 8px; }

.chain-default { font-size: 12px; line-height: 1.2; color: #FFF; background: #555555; padding: 3px 5px; border-radius: 3px; margin: 0 8px; }

.chain-editable { font-size: 12px; line-height: 1.2; color: #FFF; background: #bb283b; padding: 3px 5px; border-radius: 3px; margin: 0 8px; }

.condition { display: inline-block; padding: 0 0 0 16px; margin: 5px 0; }
.condition span { font-weight: normal; background: #519839; padding: 2px 5px; border-radius: 3px; display: inline-block; color: #FFF; }

i { font-style: normal; }

.x-dialog-body-el { color: #555; font-size: 14px; }

.x-menucheckitem .x-body-el { height: 28px; }

.x-menu .x-mask { background-color: #FFF; }

.icon-monitor { background-size: contain; opacity: 0.7; width: 16px !important; height: 16px !important; }
.icon-monitor.sessions { background: url("../static/res/icons/monitor/sessions-monitor-icon.svg") no-repeat 50% 50%; }
.icon-monitor.hosts { background: url("../static/res/icons/monitor/hosts-monitor-icon.svg") no-repeat 50% 50%; }
.icon-monitor.devices { background: url("../static/res/icons/monitor/devices-monitor-icon.svg") no-repeat 50% 50%; }
.icon-monitor.users { background: url("../static/res/icons/monitor/users-monitor-icon.svg") no-repeat 50% 50%; }

.cond { padding: 0 !important; }
.cond div { font-family: 'Roboto Condensed'; display: inline-block; overflow: hidden; margin-right: 10px; }
.cond div span { display: inline-block; padding: 3px 10px; }
.cond div .type { background-color: #E6E6E6; border-radius: 3px 0 0 3px; border: 1px #D4D4D4 solid; }
.cond div .invert { background-color: #FFF; font-weight: 600; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); position: relative; z-index: 1; color: #555; }
.cond div .value { background-color: #d4e6cd; font-weight: 600; border-radius: 0 3px 3px 0; border: 1px #d4d4d4 solid; }
.cond div .bool-yes { background-color: #FFF; font-weight: 600; border-radius: 0 3px 3px 0; border: 1px #d4d4d4 solid; }
.cond div .bool-no { background-color: #FFF; font-weight: 600; border-radius: 0 3px 3px 0; border: 1px #d4d4d4 solid; }

.invalid-cell::after { content: ''; position: absolute; left: 1px; right: 1px; bottom: 0; height: 2px; border-top: 2px #F95821 solid; }

.x-treelist-nav .x-treelist-item-icon { font-size: 16px; }

.reports-tree .x-treelist-item-expandable .x-treelist-item-text { margin-left: 5px; }
.reports-tree .x-treelist-item-leaf .x-treelist-item-text { margin-left: 0; font-size: 14px; }
.reports-tree .x-treelist-item-leaf .x-treelist-item-wrap { margin-left: 0 !important; }
.reports-tree .x-treelist-item-leaf .x-treelist-item-wrap .x-treelist-item-text { margin-left: 32px; }
.reports-tree .x-treelist-item-leaf .x-treelist-item-icon:before { font-size: 14px; }
.reports-tree .x-treelist-item-icon.tree { width: 28px; height: 28px; margin: 8px 0 8px 0; background-size: contain; background-repeat: no-repeat; }
.reports-tree .x-treelist-item-icon.tree.network { background-image: url("../static/res/icons/config/network.svg"); }
.reports-tree .x-treelist-item-icon.tree.administration { background-image: url("../static/res/icons/config/administration.svg"); }
.reports-tree .x-treelist-item-icon.tree.events { background-image: url("../static/res/icons/config/events.svg"); }
.reports-tree .x-treelist-item-icon.tree.email { background-image: url("../static/res/icons/config/email.svg"); }
.reports-tree .x-treelist-item-icon.tree.directory { background-image: url("../static/res/icons/config/local-directory.svg"); }
.reports-tree .x-treelist-item-icon.tree.system { background-image: url("../static/res/icons/config/system.svg"); }
.reports-tree .x-treelist-item-icon.tree.upgrade { background-image: url("../static/res/icons/config/upgrade.svg"); }
.reports-tree .x-treelist-item-icon.tree.about { background-image: url("../static/res/icons/config/about.svg"); }
.reports-tree .x-treelist-item-icon.tree.hosts { background-image: url("../static/res/icons/config/hosts.svg"); }
.reports-tree .x-treelist-item-icon.tree.devices { background-image: url("../static/res/icons/config/devices.svg"); }

.x-gridcell-body-el em { color: #999; }

.x-grid.c-noheaders .x-headercontainer { height: 1px; visibility: hidden; }

.x-grid-events .x-gridcell { font: 400 11px/11px Roboto, sans-serif; }
.x-grid-events .x-gridcell-body-el { padding: 8px 12px; }
.x-grid-events .x-gridcolumn-title-wrap-el { padding: 8px 12px; line-height: 1; }

.x-gridcolumn-title-wrap-el { font-weight: 600; }

.x-rownumberercell { background: rgba(200, 200, 200, 0.3); border-right: 1px #CCC solid; box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1); }

.x-nav .x-gridcell { font-family: 'Roboto Condensed', sans-serif; font-weight: 600; color: #555; }
.x-nav .x-body-el { padding: 3px 0; }
.x-nav .x-treecell .x-icon-el { color: #777; width: 16px; height: 16px; padding: 1px 0; }
.x-nav .x-treecell .x-icon-el:before { font-size: 14px; }
.x-nav .x-icon-el { width: 16px; height: 16px; background-size: contain; background-repeat: no-repeat; }
.x-nav .x-icon-el.network { background-image: url("../static/res/icons/config/icon_config_network.png"); }
.x-nav .x-icon-el.administration { background-image: url("../static/res/icons/config/icon_config_administration.png"); }
.x-nav .x-icon-el.events { background-image: url("../static/res/icons/config/icon_config_events.png"); }
.x-nav .x-icon-el.email { background-image: url("../static/res/icons/config/icon_config_email.png"); }
.x-nav .x-icon-el.directory { background-image: url("../static/res/icons/config/icon_config_directory.png"); }
.x-nav .x-icon-el.system { background-image: url("../static/res/icons/config/icon_config_system.png"); }
.x-nav .x-icon-el.upgrade { background-image: url("../static/res/icons/config/icon_config_upgrade.png"); }
.x-nav .x-icon-el.about { background-image: url("../static/res/icons/config/icon_config_about.png"); }

.x-selectfield input { cursor: pointer; }

.highcharts-container { font-family: 'Arial', sans-serif; }

.x-tabbar-light { background-color: #EEE; }
.x-tabbar-light .x-text-el { color: #333; }
.x-tabbar-light .x-inner-el { background-color: #EEE; }
.x-tabbar-light .x-active .x-inner-el { background-color: #FFF; }
.x-tabbar-light .x-active-indicator-el { background-color: var(--base-color) !important; }
.x-tabbar-light .x-hovered .x-inner-el { background: #CCC; }

.widgets-outer { display: initial; overflow: auto; }

.widgets-inner { display: flex; flex-wrap: wrap; flex: none; overflow: scroll; }
.widgets-inner::after { content: ''; flex-grow: 1000000000; }

.widget-info { transition: all .2s ease-out; }

.mfw-widget { flex: 1; flex-basis: 320px; height: 320px; flex-grow: 1; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: all .2s ease-out; background: #FFF; }
.mfw-widget .x-body-el { background: #FFF; }
.mfw-widget .x-button .x-body-el { background: transparent; }
.mfw-widget:hover { box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3); }
.mfw-widget.widget-text { flex-basis: 300px; flex-grow: 1; }
.mfw-widget.widget-events { flex-basis: 600px; flex-grow: 2; }
.mfw-widget.widget-series { flex-basis: 600px; flex-grow: 2; }
.mfw-widget.widget-pies { flex-basis: 400px; flex-grow: 1; }

.widget-events .x-gridcell-body-el { padding: 3px 6px; font-size: 11px; }
.widget-events .x-gridcolumn-title-wrap-el { padding: 6px; font-size: 11px; }

.events-tree .x-treecell .x-icon-el { display: none; }
.events-tree .x-gridcell-body-el { font-size: 11px; padding: 2px 0; }
.events-tree .x-listitem { background-color: transparent; }
.events-tree .event-key { color: #333; font-weight: 400; }

.wrapper { position: relative; background: #FFF; }

.wrapper, .wrapper * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrapper { width: 12px; height: 12px; }

.wrapper .pie { width: 50%; height: 100%; transform-origin: 100% 50%; position: absolute; background: var(--base-color); border: 2px solid var(--base-color); }

.wrapper .spinner { border-radius: 100% 0 0 100% / 50% 0 0 50%; z-index: 200; border-right: none; animation: rota 5s linear infinite; }

.wrapper:hover .spinner, .wrapper:hover .filler, .wrapper:hover .mask { animation-play-state: running; }

.wrapper .filler { border-radius: 0 100% 100% 0 / 0 50% 50% 0; left: 50%; opacity: 0; z-index: 100; animation: opa 5s steps(1, end) infinite reverse; border-left: none; }

.wrapper .mask { width: 50%; height: 100%; position: absolute; background: inherit; opacity: 0.5; z-index: 300; animation: opa 5s steps(1, end) infinite; }

@keyframes rota { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
@keyframes opa { 0% { opacity: 1; }
  50%, 100% { opacity: 0; } }
.x-treelist.no-icons .x-treelist-item-text { margin-left: 0; }

.x-treelist.shrink .x-treelist-item-text { line-height: 32px; font-size: 14px; font-weight: 600; }

.pie { width: 42px; background: #f06; border-radius: 50%; }
.pie circle { fill: none; stroke: gold; stroke-width: 50; }

.system-graph { box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); border-radius: 5px; overflow: hidden; }

.chart-wrapper .x-component { height: 100%; }

.monitor-menu { background: #333; }
.monitor-menu .x-menu-body-el { background: #333; padding: 0; }
.monitor-menu .x-menuitem .x-body-el { color: #EEE; font-weight: 600; height: 44px; }
.monitor-menu .x-menuitem.x-active .x-body-el { color: #EEE; background: #222; }

.file-upload { background-color: #EFEFEF; border-radius: 2px; border: 1px #DDD solid; }
.file-upload.x-invalid { border-color: var(--alert-color); }
.file-upload .x-underline-el { display: none; }
.file-upload .x-input-el { padding: 8px; color: #777; font-family: "Courier New", sans-serif; }
.file-upload.editable { border: 1px #999 solid; }
.file-upload.editable .x-input-el { color: #333; }

.mfw-logger { background-color: #EFEFEF; }
.mfw-logger .x-underline-el { display: none; }
.mfw-logger .x-input-el { padding: 8px; color: #555; font-size: 12px; font-family: "Courier New", monospace; }

.x-segmentedbutton.button-tabs .x-button.x-pressed { color: #FFF; }
.x-segmentedbutton.button-tabs .x-button-segmented.x-pressing, .x-segmentedbutton.button-tabs .x-button-segmented.x-pressed { color: #FFF; }
.x-segmentedbutton.button-tabs .x-button-segmented.x-pressing .x-inner-el, .x-segmentedbutton.button-tabs .x-button-segmented.x-pressed .x-inner-el { background-color: var(--base-color); }
.x-segmentedbutton.button-tabs .x-button-segmented { color: #333; }
.x-segmentedbutton.button-tabs .x-button-segmented .x-inner-el { background-color: #ECECEC; }

.btn-tool .x-body-el { color: #FFF; }

.cell-edit-icon .x-icon-el { color: #CCC; }
.cell-edit-icon .x-icon-el:before { font-size: 14px; }

.x-custom-field .x-body-wrap-el { background: #FFF; border: 1px #DDD solid; border-radius: 3px; }
.x-custom-field .x-input-el { padding: 4px 12px; line-height: 32px; background: #FFF; }
.x-custom-field .x-underline-el { display: none; }
.x-custom-field.x-focused .x-body-wrap-el { border-color: var(--base-color); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }

hr { border: 0; height: 1px; background: #EEE; background-image: linear-gradient(to right, #EEE, green, #EEE); }

.info-widget table { font-size: 14px; }
.info-widget table td { vertical-align: top; padding: 2px 0; }
.info-widget table td:first-child { padding: 2px 8px 2px 16px; font-weight: bold; text-align: right; }

.cpu-widget { color: var(--base-color); text-align: center; }
.cpu-widget p { font-size: 54px; }
.cpu-widget p span { font-size: 12px; color: #999; }
.cpu-widget.oldval { color: #999; }

.layout-widget .separator { background: var(--base-color); border-radius: 10px; }
.layout-widget .item { position: relative; background: #f5f5f5; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); margin: 0 5px; padding: 8px; border-radius: 3px; text-align: left; border: 1px var(--base-color) solid; display: block; min-width: 100px; }
.layout-widget .item p { margin: 0; }
.layout-widget .item p.ip { font-size: 11px; }
.layout-widget .item p.rate { font-size: 11px; color: #555; line-height: 1; margin-top: 3px; text-align: left; }
.layout-widget .item .connector { position: absolute; width: 3px; background: var(--base-color); height: 24px; margin-left: 50%; top: -24px; left: -1px; font-size: 20px; color: var(--base-color); }
.layout-widget .item.wan .connector { bottom: -24px; top: auto; }
.layout-widget .item .status { position: absolute; right: 5px; top: 5px; height: 10px; line-height: 10px; }
.layout-widget .item .status i { font-size: 10px; }

.x-iframe .x-innerhtml { height: 100%; }

.pointer-list .x-listitem { cursor: pointer; }

.x-drag-dragging { box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); background: rgba(255, 255, 0, 0.5); }

.x-error-el { margin: 8px 0 !important; }
.x-error-el .x-error-message-el { font-size: 12px; }

.x-chip, .x-chip:hover { border-radius: 3px; }
.x-chip .x-close-el, .x-chip .x-close-el:hover, .x-chip:hover .x-close-el, .x-chip:hover .x-close-el:hover { background: transparent; }

.x-checkcell .x-checkbox-el:focus { color: var(--base-color); }

.x-togglefield { cursor: pointer; }
.x-togglefield .x-box-label-el { font-weight: bold; }
.x-togglefield.x-toggle-off .x-thumb { background-color: #999; }

.x-trigger { margin-right: 8px; }
.x-trigger .x-icon-el:before { font-size: 16px; }

.x-field.x-required > .x-label-el:after { font-family: sans-serif; }

.x-menu { max-height: 500px; }
.x-menu .x-menu-body-el { overflow-y: auto; }

.widget-interface { border: 1px #EEE solid; }
