:root { --base-color: #519839; --base-highlight-color: #91e971; --base-dark-color: #3e752b; --base-pressed-color: #dfe6ea; --base-focused-color: #568047; --accent-color: #55c32d; --accent-light-color: #cef1c1; }

.step-link a { font-weight: 100; font-size: 20px; color: #777; text-decoration: none; }
.step-link a:hover { color: #333; }
.step-link.current a { color: var(--base-color); }

.x-label-text-el, .x-box-label-el { font-weight: 600; }

.x-mask { opacity: 0.5; background-color: #e8e8e8; }

h1 { font-weight: 100; font-size: 24px; color: #333; }

i { font-style: normal; }

hr { border: 0; height: 1px; background: #EEE; background-image: linear-gradient(to right, #EEE, green, #EEE); }

.x-button .x-text-el { text-transform: none; font-weight: 500; }
.x-button .x-icon-el:before { position: relative; top: -1px; }

/*.x-box-label-el, .x-label-el { font-size: 14px !important; }*/
.x-box-label-el, .x-label-el { font-weight: 400 !important; color: var(--base-color) !important; /*text-shadow: 0 1px 1px #DDD;*/ }

.x-field.x-disabled > .x-label-el { color: #CCC !important; }

.x-indicator span.x-indicator-active { background-color: var(--base-color); }

/* .x-tabbar { background: transparent !important; } */
.x-custom-field .x-input-el { padding: 4px 12px; line-height: 32px; background: #FFF; }
.x-custom-field .x-underline-el { display: none; }
.x-custom-field .x-body-wrap-el { background: #FFF; border: 1px #DDD solid; border-radius: 3px; }
.x-custom-field .x-label-el { padding: 10px 10px 10px 0; }
.x-custom-field.x-focused .x-body-wrap-el { border-color: var(--base-color); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
.x-custom-field.x-invalid .x-body-wrap-el { border-color: red; }

.x-statuscolumn .x-body-el { padding: 0; border-right: 1px #EEE solid; }

.x-gridcell { vertical-align: top; }
.x-gridcell.status-dirty { background: orange; }
.x-gridcell.status-delete { background: red; }
.x-gridcell.status-phantom { background: green; }
.x-gridcell.x-disabled { color: #777; }
.x-gridcell.x-disabled .condition span { background: #CCC; }

.x-treelist.no-icons .x-treelist-item-text { margin-left: 0; }

.x-treelist.shrink .x-treelist-item-text { line-height: 32px; font-size: 14px; font-weight: 600; }

.file-upload { background-color: #EFEFEF; border-radius: 2px; border: 1px #DDD solid; }
.file-upload.x-invalid { border-color: var(--alert-color); }
.file-upload .x-underline-el { display: none; }
.file-upload .x-input-el { padding: 8px; color: #777; font-family: "Courier New", sans-serif; }
.file-upload.editable { border: 1px #999 solid; }
.file-upload.editable .x-input-el { color: #333; }

.x-togglefield .x-box-label-el { font-weight: bold; }
.x-togglefield.off .x-thumb { background-color: #999; }
.x-togglefield.off .x-box-label-el { color: #555 !important; }

.x-trigger { margin-right: 8px; }
.x-trigger .x-icon-el:before { font-size: 16px; }

.x-field.x-required > .x-label-el:after { font-family: sans-serif; }
